body {background-color: #ffe6e6;}

h1 {
  text-align: center;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 31px;
  font-kerning: auto;
  color: #ff4d4d;
  margin-top: 100;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  margin: 12px;
}

#tableLayout {
    display: flex;
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-top: 70px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.center-div {
     margin: 0 auto;
}

.table {
    display: flex;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.available {
  background-color: #e6e6e6;
}

.available:hover {
  background: #d9d9d9;
  cursor: pointer;
}

.tableNumber {
  font-family: Arial, Gadget, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  color: #b3b3b3;
}

.reserved {
  cursor: not-allowed;
  pointer-events: none;
  background: #808080;
}

#popBox {
    background-color: white;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 0 30px 0 #999999;
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#reserveBox {
    background-color: white;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 70px;
    box-shadow: 0 0 30px 0 #999999;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.textLine {
  border:none;
       border-bottom:1px solid black;
}

#close:after {
  content: '✖';
  float: right;
  height: 20px;
  margin: 10px;
  position: relative;
  width: 10px;
}

h4 {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  line-height: 31px;
  font-kerning: auto;
  color: #ff4d4d;
  padding-top: 40px;
  padding-left: 20px;
  margin-bottom: 0;
}

h5 {
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

h6 {
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  color: #808080;
  padding-top: 19px;
  padding-left: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.textLine {
  width: 90%;
  margin: 5%;
}

#saveButton {
  color: white;
  height: 8%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #999999;
  background: #47d147;
  margin: 10%;
}

#saveButton:hover {
  background: #2eb82e;
}



